*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#fff;
    color:#222;
}

.amenities{
    padding:60px 20px;
    background: whitesmoke;
}

.amenities-box{
    max-width:1750px;
    margin:auto;
    background:sienna;
    border:2px solid #e5e5e5;
    border-radius:18px;
    padding:50px;
    box-shadow:0 10px 35px rgba(0,0,0,.08);
}

.amenities-title{
    text-align:center;
    margin-bottom:45px;
}

.amenities-title h1{
    font-size:42px;
    color: white;
    font-weight:700;
    letter-spacing:2px;
}


/* Cards */

.cards{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:25px;
}

.card{
    background: silver;
    border:1px solid #e8e8e8;
    border-radius:15px;
    padding:35px 20px;
    text-align:center;
    transition:.35s;
}

.card i{
    font-size:55px;
    color:#c4c4c4;
    margin-bottom:20px;
}

.card h5{
    font-size:17px;
    font-weight:600;
    color:#666;
    letter-spacing:1px;
}

.card:hover{
    background:#ffffff;
    transform:translateY(-8px);
    box-shadow:0 15px 30px rgba(0,0,0,.12);
}

.card:hover i{
    color:#ef5350;
}

.card:hover h5{
    color:#222;
}


/* Image Popup */

.image-popup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.95);
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    visibility:hidden;
    transition:.4s ease;
    z-index:9999;
}

.image-popup.active{
    opacity:1;
    visibility:visible;
}

.image-popup img{
    max-width:90%;
    max-height:90%;
    border-radius:10px;
    transform:scale(.8);
    transition:.35s ease;
    box-shadow:0 0 30px rgba(255,255,255,.2);
}

.image-popup.active img{
    transform:scale(1);
}

.close-btn{
    position:absolute;
    top:20px;
    right:35px;
    color:#fff;
    font-size:55px;
    cursor:pointer;
    transition:.3s;
}

.close-btn:hover{
    color:#f35b5b;
    transform:rotate(90deg);
}

/* Cursor */

.card{
    cursor:pointer;
}


.amenity-img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:10px;
    cursor:pointer;
    transition:0.4s ease;
    margin-bottom:20px;
}

.amenity-img:hover{
    transform:scale(1.05);
    box-shadow:0 12px 25px rgba(0,0,0,.25);
}



/* Responsive */

@media(max-width:1200px){

.cards{
grid-template-columns:repeat(3,1fr);
}
}


@media(max-width:768px){

.container{
width:92%;
}

h1{
font-size:42px;
}

.cards{
grid-template-columns:repeat(2,1fr);
}

}


@media(max-width:500px){

.cards{
grid-template-columns:1fr;
}

h1{
font-size:34px;
}

}


@media(max-width:992px){
    .cards{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:576px){
    .cards{
        grid-template-columns:1fr;
    }

    .amenities-box{
        padding:30px 20px;
    }

    .amenities-title h2{
        font-size:30px;
    }
}
